body, html {
    height: 100%;
    background-image: url("../images/splash.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.navigation {
    position: fixed;
    padding-top: 10px;
    background-color: #FFFFFF;
    z-index: 999;
}

.navigation ul li {
    display: inline;
    margin: 0 20px;
    color: #000000;
    font-size: 2em;
    font-weight: 600;
    text-shadow: 4px 4px 7px rgba(153, 153, 153, 0.86);
}

.signupBox {
    position: fixed;
    height: 300px;
    width: 500px;
    top: calc(50% - 150px);
    left: calc(50% - 250px);
    border: 2px solid #000000;
    border-radius: 15px;
    background-color: #FFFFFF;
    box-shadow: 11px 10px 19px 0px rgba(0,0,0,0.27);
    padding: 40px;
}

.infoBox {
    position: fixed;
    width: 500px;
    left: calc(50% - 250px);
    border: 2px solid #000000;
    border-radius: 15px;
    background-color: #FFFFFF;
    box-shadow: 11px 10px 19px 0px rgba(0,0,0,0.27);
    padding: 40px;
}

.mainBody {
    position: absolute;
    top: 100px;
}


.title {
    top: 100px;
    text-align: center;
}

.title p {
    font-size: 2em;
    font-weight: 500;
}

.allSnackRow {
    margin: 20px 50px;
    background-color: #FFFFFF;
    padding: 10px;
}

.allSnackRow .row {
    width: 100%;
}

.allSnackRow ul li {
    display: inline;
    margin: 0 10px;
}

.snackImg {
    top: 300px;
}

.textInputs {
    top: 500px;
}

.col-2 a {
    margin-top: 10px;
}

form p {
    display: inline;
}

form input, form select {
    float: right;
}

hr {
    margin: 0;
}

.inputLine {
    margin-bottom: 15px;
}

.formInput {
    width: 300px;
}

.bg { 
    background-image: url("../images/splash.jpg");
    position: absolute;
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}